

@import 'fonts';
@import 'mixin';
@import 'reset';

body {
    margin: 0px;
    background-color: lightgray;
}

#willow-ad-stage {
    position: relative;
    width: 100%;
    height: 100%;

    #adContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 1125px;
        height: 600px;
        background-color: white;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;

        .hero {
            position: absolute;
            width: calc( 100% - 525px);
            height: 100%;
            left: 0px;
            background-color: pink;
           
            cursor: pointer;
            pointer-events: auto;


            .heroimg {
                background-image: url(../assets/hero.jpg);
                background-size: cover;
                background-position: 50% 50%;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            @include breakpoint ("small") {
                width: 100%;
                top: 0px;
                height: 270px;
            }
        }

        .sweeps-content {
            position: absolute;
            height: 100%;
            width: 525px;
            right: 0px;

            @include breakpoint ("small") {
                width: 100%;
                top: 270px;
            }
        }
    }
}

.VSwidget-style {
    // width: 525px;
    // height: 600px;
}

#vs_widget_frame_vs_44809_44809_569793 {
    width: 525px !important;
    height: 600px !important;

    @include breakpoint ("small") {
        width: 100% !important;
    }
}

