

@import 'fonts';
@import 'mixin';
@import 'reset';

$desktop_tablet_padding: 35px;
$mobile_padding: 25px;

body {
    margin: 0px;
    background-color: rgba(255, 255, 255,0);
}

#willow-ad-stage {
    position: relative;
    width: 100%;
    height: 100%;

    #adContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 1125px;
        height: 600px;
        background-color: white;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: 1px solid lightgray;
        box-sizing: border-box;

        @include breakpoint ("mobile") {
            max-width: 414px;

         }

        .hero {
            position: absolute;
            width: calc( 100% - 525px);
            height: 100%;
            left: 0px;
            background-color: pink;
            z-index: 100;
           
            cursor: pointer;
            pointer-events: auto;

            .logo {
                background-image: url(../assets/logo-white.png);
                position: absolute;
                width: 140px;
                height: 50px;
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;
                top: 20px;
                left: 20px;
                display: none;

                @include breakpoint ("small") {
                   display: block;
                }

                @include breakpoint ("mobile") {
                    display: block;
                 }
            }

            .logobg {
                background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0) 100%);
                position: absolute;
                width: 100%;
                height: 200px;
                display: none;

                @include breakpoint ("small") {
                   display: block;
                }

                @include breakpoint ("mobile") {
                    display: block;
                    height: 75%;
                 }
            }


            .heroimg {
                background-image: url(../assets/hero.jpg);
                background-color: darkgray;
                background-size: cover;
                background-position: 50% 50%;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            @include breakpoint ("small") {
                width: 100%;
                top: 0px;
                height: 270px;
            }

            @include breakpoint ("mobile") {
                width: 100%;
                top: 0px;
                height: calc(100% - 410px);
            }
        }

        .sweeps-content {
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0px;
            background-color:white;

            .desktop-large-logo {
                position: absolute;
                width: calc(525px - 35px);
                right: 0px;
                top: $desktop_tablet_padding;
                height: 45px;
                background-color: white;
                background-image: url(../assets/logo-black.png);
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                pointer-events: auto;
                //margin-left: 30px;
                background-position: 0% 0%;
                box-sizing: border-box;

                @include breakpoint ("small") {
                    display: none;
                }

                @include breakpoint ("mobile") {
                    display: none;
                }
            }

            @include breakpoint ("small") {
                width: 100%;
                top: 270px;
            }

            @include breakpoint ("mobile") {
                width: 100%;
                max-width: 414px;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;
                bottom: 0px;
                height: 410px;
            }
        }
    }
}



#vs_widget_frame_vs_44809_44809_569793 {
    width: 100% !important;
    height: 600px !important;
    background-color: white;

    @include breakpoint ("small") {
        width: 100% !important;
    }

    @include breakpoint ("mobile") {
        width: 100% !important;
        height: 410px !important;
        padding: unset !important;
        margin: unset !important;
    }
}

