
@import 'fonts';
@import 'mixin';


body.widget {
  max-width: 525px;
  max-height: 600px;
  border: unset;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 525px;
  right: 0px;

  @include breakpoint ("small") {
	max-width: unset;
	max-height: calc(600px - 270px);
	width: 100%;
  }

  @include breakpoint ("mobile") {
	  width: 100%;
	//max-width: 414px;
	//max-height: 410px;
	//right: 0px;
  }

  .container {
	position: relative;
	max-height: 600px;
	height: 600px;
	width: 100%;
	max-width: 525px;
	border: unset;
	

	@include breakpoint ("small") {
		max-height: calc(600px - 270px);
		height: calc(600px - 270px);
		width: 100%;
		max-width: unset;
		border: unset;
	}

	@include breakpoint ("mobile")  {
		max-height: 410px;
		height: 410px;
		width: 100%;
		border: unset;
		margin-left: auto;
		margin-right: auto;
		padding-right: unset;
		padding-left: unset;
	}


	.promotion {
		position: absolute;
		width: 100%;
		height: 100%;
		border: unset;

		@include breakpoint ("mobile") {
			max-width: 414px;
			margin-left: auto;
			margin-right: auto;
			left: 0px;
			right: 0px;
		}

		.pre-entry {
			position: absolute;
			width: 100%;
			height: 300px;
			top: 0px;
			left: 0px;

			@include breakpoint ("small") {
				height: 180px;
			}

			@include breakpoint ("mobile") {
				height: 180px;
				max-width: 414px;
				margin-left: auto;
				margin-right: auto;
				left: 0px;
				right: 0px;
			}

			.content {
				.logo {
					margin-left: 40px;
					margin-top: 30px;
					margin-right: unset;
					margin-bottom: unset;
					display: block;
			
					@include breakpoint ("small") {
						display: none;
					}

					@include breakpoint ("mobile") {
						display: none;
					}
				}

				.title {
					text-align: left;
					margin-left: 40px;
					padding: unset;
					margin-top: 40px;

					@include breakpoint ("small") {
						margin-top: 15px;
						margin-bottom: 5px;
					}

					@include breakpoint ("mobile") {
						margin-top: 15px;
						margin-bottom: 5px;
						padding-left: unset;
						margin-left: 10px;
					}
					
					p {
						font-family:"Proxima N W02 Bold";
						color: black;
						font-size: 27px;
						padding: unset;
						margin: unset;

						@include breakpoint ("small") {
							font-size: 24px;
						}

						@include breakpoint ("mobile") {
							font-size: 22px;
						}
					}
				}

				.description {
					background: unset;
					border: unset;
					padding-left: unset;
					padding-top: unset;
					padding-right: unset;
					margin-left: 40px;

					@include breakpoint ("mobile") {
						padding-top: 5px;
						padding-left: unset;
						margin-left: 10px;
					}

					p {
						padding-left: unset;
						padding-right: unset;
						font-family:"Proxima N W01 Reg";
						color: black;
						font-size: 16px;

						@include breakpoint ("small") {
							font-size: 14px;
						}

						@include breakpoint ("mobile") {
							font-size: 12px;
							line-height: 14px;
						
						}
					}
				}
			}

			.form {
				background: unset;
				border: unset;
				left: 40px;
				margin-left: unset;
				padding-left: unset;
				position: absolute;
				width: calc( 100% - 80px);
				height: 350px;
				top: 250px;

				@include breakpoint ("small") {
					top: 70px;
				}

				@include breakpoint ("mobile") {
					top: 100px;
					width: calc(100% - 20px);
					padding-right: unset;
					
					margin-top: unset;
					padding-top: unset;

					margin-right: auto;
					margin-left: auto;
					left: 0px;
					right: 0px;
					
				}

				form {
					@include breakpoint ("mobile") {
						width: 100%;
					}

				}

				#first_name, #last_name, #email {
					height: 50px;
					
					@include breakpoint ("small") {
						height: 25px;
					}

					@include breakpoint ("mobile") {
						height: 25px;
					}
				}

				.form_label_text {
					font-family:"Proxima N W01 Reg";
					font-style: italic;
					font-size: 14px;
					max-width: 300px;
				
					@include breakpoint ("small") {
						font-size: 12px;
					}

					@include breakpoint ("mobile") {
						font-size: 12px;
					}
				}

				.submit {
					background-color: black;
					font-family:"Proxima N W02 Bold";
					font-size: 16px;
					color: white;
					max-width: 140px;
					position: absolute;
					bottom: 40px;
				
					@include breakpoint ("small") {
						bottom: unset;
						min-height: unset;
						height: 30px;
						padding: unset;
						font-size: 14px;
						line-height: 28px;
						margin-top: 5px;
					}

					@include breakpoint ("mobile") {
						bottom: unset;
						min-height: unset;
						height: 30px;
						padding: unset;
						font-size: 14px;
						line-height: 28px;
						margin-top: 5px;
					}
					
					&:hover {
						background-color: rgb(40,40,40);
						color: white;
						font-size: unset;
					}
				}
			}

		


		}

		.footer {
			visibility: hidden;
		}


	} // promotion


		
  } // container
} // body.widget


  

  











